<div class="middle-container">
	<div class="div1">
		<img class="headpic3" src="{{static_url("img/logo.png")}}">
		<label>{{picture["owner"]}}</label>
	</div>
		<hr class="hr2" >

	<div class="div2">
			<img class="photo" src="{{picture["picurl"]}}">
	</div>	

	<div class="div3">
		<img class="like-sign" src="{{static_url("img/like.png")}}">
		<img id=id1 onclick="addcomment(this.id)"  src="{{static_url("img/talk.png")}}">
		<hr class="hr2">
	</div>

	<div id=msid1 class="maintext" style="display:none"></div>
	<div id=divsid1c class = "maintext" style="display:none">
	<input type="text" id=tsid1c placeholder="添加评论..."/>
	<button type="button" id=sid1 class="btn btn-info btn-xs" onclick="submitcomment(this.id)">提交</button>
	<button type="button" id=id1c class="btn btn-default btn-xs" onclick="cancelcomment(this.id)">取消</button>
	</div>
</div>

<div>
   <h3>{{picture["owner"]}}</h3>
   <img src="{{picture["picurl"]}}" />
</div>
